body{
    margin: 0;
    padding: 0;
}

.canva{
    /* background-color: aqua; */
    height: 100vh; 
}


.card-info{
    background-color: aqua;
}

div.tooltip{
    position: absolute;
    background: cadetblue;

    text-align: left;
    width: 150px;
    height: 220px;
    padding: 2px;
    border: 0px;
}

div.tooltip p{
    font: 12px Helvetica, sans-serif;
}

div.tooltip img{
    width: 100%;
    height: 70%;
}